.btn-navigation {
    width: 330px;
    margin-top: 20px;
    margin-left: 4px;

}



.btn-1{
    font-size: 20px;
    padding: 15px;
    font-weight: 100;
    cursor: pointer;
}



.btn-1:hover {
    background-color: #407DD9;
    border-radius: 15px;
}