#root {
  margin: 0;
  background-color: #407DD9s;
}

.flex {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

#main {
  display: flex;
  margin: 20px;
}

.left-sec {
  width: 350px;
  height: 900px;

  border: 2px solid #2E3A49;
  border-radius: 10px;
}

.mid-sec {
  margin-left: 20px;
  width: 1200px;
  height: 900px;

  border: 2px solid #2E3A49;
  border-radius: 10px;
}

.right-sec {
  margin-left: 20px;
  width: 300px;
  margin-top: 200px;
  height: 700px;
  
  border: 2px solid #2E3A49;
  border-radius: 10px;
}

.userlogo {
  padding: 10px;
  width: 60px;
  height: 60px;
}

.userdiv {
  width: 315px;
  margin-left: 15px;
  margin-top: 15px;
  background-color: #407DD9;
  border-radius: 15px;
}

.userlogin {
  color: #CACACA;
  margin-top: -15px;
}


.username2 {
  margin-top: -20px;
  font-size: 24px;
  color: #494949;
}

.hello {
  font-size: 18px;
  color: #909090;
}

.userinfo-2 {
  margin-top: -10px;
}

.cursos-title {
  font-size: 24px;
  color: #6A6868;
  margin-left:70px;
}