.stacksContainer {
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 20px;
    width: 150px;
    height: 50px;
    margin-left: 60px;
    color: white;
    padding: 5px;
    cursor: pointer;
}

.stacksContainer p {
    font-size: 17px;
    justify-self: center;
    padding-left: 5px;
}

.stacksContainer svg {
    margin-top: 10px;
    margin-top: -2px;
}

.yellow {
    border: 2px solid yellow;
    stroke-width: 0;
}

.yellow:hover {
    transform: scale(1.15);
    transition: all 1s ease;
}

.green {
    border: 2px solid #15BE4F;
    stroke-width: 0;
}

.green:hover {
    transform: scale(1.15);
    transition: all 1s ease;
}

.blue {
    border: 2px solid #007DD8;
    stroke-width: 0;
}

.blue:hover {
    transform: scale(1.15);
    transition: all 1s ease;
}

.pink {
    border: 2px solid #C565C7;
    stroke-width: 0;
}

.pink:hover {
    transform: scale(1.15);
    transition: all 1s ease;
}

.orange {
 border: 2px solid #EC7D2D;
 stroke-width: 0;
} 

.orange:hover {
    transform: scale(1.15);
    transition: all 1s ease;
}